image: Visual Studio 2017
configuration: Release

branches:
  except:
    - gh-pages

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  github_token:
    secure: OBZs3gdhT/Lp/JtBa87UHskW/fMkG1Yh42fIuEsN7EOVsoBCUSiwke7MdeX1t6qR

nuget:
  project_feed: true
  disable_publish_on_pr: true

install:
  - ps: |
      $lastTag = git describe --abbrev=0
      [Environment]::SetEnvironmentVariable('LAST_TAG', $lastTag, [System.EnvironmentVariableTarget]::User )
      Update-AppveyorBuild -Version "$lastTag-$env:APPVEYOR_BUILD_NUMBER"

  - cmd: msbuild Eighty.sln /t:restore /p:Configuration=%CONFIGURATION% /v:Minimal

  - cmd: cinst docfx

  - ps: |
      git config --global credential.helper store
      Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:github_token):x-oauth-basic@github.com`n"
      git config --global user.email "benhodgson91@gmail.com"
      git config --global user.name "AppVeyor build server"
      git config --global core.safecrlf false

build:
  project: Eighty.sln
  verbosity: minimal

after_build:
  - cmd: docfx Eighty.Docs/docfx.json

after_test:
  - cmd: dotnet run --configuration %CONFIGURATION% --project Eighty.Bench\Eighty.Bench.csproj
  - cmd: msbuild Eighty.sln /t:pack /p:Configuration=%CONFIGURATION% /p:IncludeSymbols=true /p:PackageOutputPath=..\nupkgs /v:Minimal

artifacts:
  - type: NuGetPackage
    path: nupkgs/*.nupkg
  - path: BenchmarkDotNet.Artifacts
  - path: Eighty.Docs/_site

deploy:
  provider: NuGet
  skip_symbols: false
  api_key:
    secure: lB7Y+xQbPUQVGKuRLirkOR/bODAnTpJM3m+myEsp7Ed0FTxk35L2g2hR+F4mLNdz
  on:
    appveyor_repo_tag: true

on_success:
  - ps: |
      if ($env:APPVEYOR_REPO_BRANCH -eq 'master' -or $env:APPVEYOR_REPO_TAG -eq 'true') {
        git clone https://github.com/benjamin-hodgson/Eighty.git --depth 1 --branch gh-pages gh-pages 2> $null
        Remove-Item "gh-pages\$env:APPVEYOR_REPO_BRANCH" -Recurse -ErrorAction Ignore
        Copy-Item Eighty.Docs\_site -Destination "gh-pages\$env:APPVEYOR_REPO_BRANCH" -Recurse -Container
        cd gh-pages
        git add "$env:APPVEYOR_REPO_BRANCH"
        (gc index.html) -replace 'https://www.benjamin.pizza/Eighty/[^/]*/', "https://www.benjamin.pizza/Eighty/$env:LAST_TAG/" | Out-File index.html
        git add index.html
        git commit --allow-empty -m "Update gh-pages"
        git push 2> $null
      }
