image: Visual Studio 2017
configuration: Release

branches:
  except:
    - gh-pages

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  github_token:
    secure: OBZs3gdhT/Lp/JtBa87UHskW/fMkG1Yh42fIuEsN7EOVsoBCUSiwke7MdeX1t6qR

nuget:
  project_feed: true
  disable_publish_on_pr: true

install:
  - ps: |
      Invoke-WebRequest https://github.com/benjamin-hodgson/BuildScripts/archive/master.zip -OutFile BuildScripts.zip
      Expand-Archive BuildScripts.zip -Destination .
      mv BuildScripts-master BuildScripts

  - ps: .\BuildScripts\appveyor\InitBuildNumber.ps1
  - cmd: msbuild Eighty.sln /t:restore /p:Configuration=%CONFIGURATION% /v:Minimal
  - cmd: cinst docfx
  - ps: .\BuildScripts\appveyor\ConfigureGit.ps1

build:
  project: Eighty.sln
  verbosity: minimal

after_test:
  - cmd: dotnet run --configuration %CONFIGURATION% --project Eighty.Bench\Eighty.Bench.csproj
  - cmd: msbuild Eighty.sln /t:pack /p:Configuration=%CONFIGURATION% /p:IncludeSymbols=true /p:PackageOutputPath=..\nupkgs /v:Minimal
  - cmd: docfx Eighty.Docs/docfx.json

artifacts:
  - type: NuGetPackage
    path: nupkgs/*.nupkg
  - path: BenchmarkDotNet.Artifacts
  - path: Eighty.Docs/_site

deploy:
  provider: NuGet
  skip_symbols: false
  api_key:
    secure: lB7Y+xQbPUQVGKuRLirkOR/bODAnTpJM3m+myEsp7Ed0FTxk35L2g2hR+F4mLNdz
  on:
    appveyor_repo_tag: true

on_success:
  - ps: .\BuildScripts\appveyor\PushDocs.ps1
